@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --Strong_Cyan: hsl(171, 66%, 44%);
    --Light_Blue: hsl(233, 100%, 69%);
    --Dark_Grayish_Blue: hsl(210, 10%, 33%);
    --Grayish_Blue: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        text-align: center;
        background-image: url(/images/bg-header-mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        max-width: 95vw;
       
        
}
main{
    margin: 2rem auto;
  
}
img{
    max-width: 90vw;
}


header{
  
    /* min-height: 100svh; */
}

.logo_head{
    margin: 5rem auto; 
}
.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.client{
    max-width: 60%;
    margin: 1rem;
   
}





























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }